@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'suse', sans-serif;
}

body {
    background: linear-gradient(to top, #d4dbd8, #afb6aa);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #0A7307;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 80%;
    max-width: 500px;
    height: 80vh;
    transition: max-width 0.3s ease-in-out, width 0.3s ease-in-out;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container form {
    background-color: #0A7307;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    background-color: #ffffff;
    border: none;
    margin: 20px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 80%;
    outline: none;
    color: #000000;
}

::placeholder {
    color: rgb(0, 0, 0);
    font-weight: 600
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 100%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .container {
        width: 90%;
        max-width: 90%;
        height: 80%;
    }

    h1{
        font-size: 50px;
    }

    .container form {
        padding: 20px;
    }

    .container button {
        padding: 10px 30px;
        font-size: 12px;
    }

    .container input {
        padding: 10px;
        font-size: 12px;
    }

    .container p {
        font-size: 12px;
        margin: 15px 0;
    }

    .container a {
        font-size: 12px;
        margin: 10px 0;
    }

    .container span {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 80%;
        max-width: 100%;
        height: 80%;
        padding: 10px;
    }

    h1{
        font-size: 22px;
    }


    .container form {
        padding: 10px;
    }

    .container button {
        padding: 8px 20px;
        font-size: 11px;
    }

    .container input {
        padding: 8px;
        font-size: 11px;
    }

    .container p {
        font-size: 11px;
        margin: 10px 0;
    }

    .container a {
        font-size: 11px;
        margin: 8px 0;
    }

    .container span {
        font-size: 9px;
    }
}
