@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'suse', sans-serif;
}

body {
    background-color: #121212;
    font-family: 'suse', sans-serif;
    background: linear-gradient(to top, #0A7307, #19521e);
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    background: linear-gradient(to top, #d4dbd8, #afb6aa);
    padding: 24px;
    text-align: center;
}

ul {
    list-style-type: none;
    font-size: 20px;
    padding: 20px;
    line-height: 1.9;
}

.sidebar {
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
}

.sidebar-hidden {
    transform: translateX(-80%);
    transition: transform 0.3s ease-in-out;
}

.sidebar-hidden #logo {
    position: relative;
    text-align: end;
}

i {
    color: #023611;
}

.logo {
    color: #023611;
    font-size: 38px;
}

li {
    color: #000000;
    font-weight: 600;
    font-size: 23px;
}

.main-container {
    margin-left: 20%;
    margin-bottom: 100px;
}
.center-aligned {
    transform: translateX(-10%);
    transition: transform 0.3s ease-in-out;

}

.podFra-playlists {
    padding: 20px 40px;
    transition: transform 0.3s ease-in-out;
}

.podFra-playlists h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.podFra-playlists .list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    align-items: center;
}

.podFra-playlists .list .item {
    width: 48%;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.podFra-playlists .list .item:hover {
    background-color: #252525;
}

.podFra-playlists .list .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.podFra-playlists .list .item .play {
    position: relative;
}

.podFra-playlists .list .item .play .fa {
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}

.podFra-playlists .list .item:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
    color: #000000;
}

.podFra-playlists .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.podFra-playlists .list .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}

.podFra-playlists hr {
    margin: 70px 0px 0px;
    border-color: #636363;
}

.preview {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.preview h6 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.preview p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.preview button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
}



@media (max-width: 480px) {

    .main-container{
        width: 100%;
        margin: 0;
        margin-bottom: 20%;
    }
    .podFra-playlists .list .item{
        width: 70%;
    }
    
    .sidebar {
        display: none;
    }
}
